<app-nav-bar [textoNav]="'Painel de Monitoramento'"></app-nav-bar>

<div class="corpo">
  <div class="grid">
    <div *ngFor="let sala of salaLista ; let i = index">
      <app-cards-sala [sala]="sala" [numSala]="i"></app-cards-sala>
    </div>
  </div>


  <div class="informacoes">
    <div class="informacao-item">
      <span class="valor">{{ salasDisponiveis }}</span>
      <span>Disponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasReservadas }}</span>
      <span>Reservadas</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasIndisponiveis }}</span>
      <span>Indisponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salaLista.length }}</span>
      <span>Salas no Total</span>
    </div>
  </div>
</div>
