.corpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  align-items: center;
  background-color: gray;
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 colunas para a grid de cards */
  grid-gap: 10px;
  width: 75%;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  justify-items: center;
  margin-top: 20px; 
}


.status {
  grid-column: span 10; /* Faz com que a linha ocupe toda a largura da grid */
  display: flex;
  justify-content: space-evenly; 
  margin-bottom: 20px; 
}

.status-item {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 10px;
  text-align: center;
  flex-grow: 1; 
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.status-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
  border-radius: 5px; 
}

.disponível {
  background-color: rgb(40, 167, 69);
}

.reservado {
  background-color: rgb(198, 40, 40);
}

.indisponível {
  background-color: rgb(117, 117, 117);
}
.informacoes {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.informacao-item {
  display: flex;
  flex-direction: column; /* Organiza o número e o texto verticalmente */
  align-items: center; /* Centraliza os itens (número e texto) */
  margin-bottom: 10px;
  font-size: 16px;
}

.informacao-item .valor {
  font-weight: bold;
  font-size: 26px; /* Ajuste o tamanho do número */
}

.informacao-item span {
  font-weight: normal;
  font-size: 20px; /* Ajuste o tamanho do texto */
}